@model List<FillingPoints>

<!-- Small boxes (Stat box) -->
<div class="row">
    @* <div class="col-lg-3 col-6">
        <div class="small-box bg-info" style="margin-top: 55px;">
            <div class="inner">
                <h3>150</h3>
                <p>New Orders</p>
            </div>
            <div class="icon" style="top: 18px;">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div> *@

    <div class="col-lg-3 col-6">
        <div class="small-box bg-info" style="margin-top: 55px;">
            <div class="inner">
                <h3 id ="totalPoint">@ViewBag.TotalPoint</h3>
                <p>Total Filling Point</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-success" style="margin-top: 55px;">
            <div class="inner">
                <h3 id ="statusOn">@ViewBag.StatusOn</h3>
                <p>Status ON</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger" style="margin-top: 55px;">
            <div class="inner">
                <h3 id ="statusOff">@ViewBag.StatusOff</h3>
                <p>Status OFF</p>
            </div>
        </div>
    </div>
</div>


<div class="card">
  <div class="card">
  </div>

<!-- Tables -->
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center px-0 py-2 border-bottom" style="margin-bottom: -1px;">
            <div class="d-flex align-items-center ms-3 gap-2">
                <label for="customLength" class="text-white mb-0">Show</label>
                <select id="customLength" class="form-select form-select-sm bg-dark text-white" style="width: 100px;">
                <option value="-1">All</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                </select>
                <span class="text-white">Items</span>
            </div>

            <div class="me-3">
                <a class="btn bg-primary text-white" data-bs-toggle="modal" data-bs-target="#inputModal">
                <i class="fas fa-plus"></i> Add Data
                </a>
            </div>
            </div>    

        @if (TempData["success"] != null)
        {
            <script>
                alert('@TempData["success"]');
            </script>
        }

        @if (TempData["error"] != null)
        {
            <script>
                alert('@TempData["error"]');
            </script>
        }

        @if (TempData["refresh"] != null)
        {
            <script>
                refreshDashboard();
            </script>
        }

        <div class="card">
            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 150px">Action</th>
                        <th>Filling Bay</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: 150px">
                                    <button type="button" class="btn btn-secondary"
                                        onclick="openEditModal(@item.id, '@item.fillingbay')">
                                        <i class="nav-icon fas fa-edit fa-1x"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" onclick="deleteData(@item.id, '@item.fillingbay')">
                                    <i class="nav-icon fas fa-trash fa-1x"></i>
                                    </button>

                                </td>
                                <td>@item.fillingbay</td>
                                <td>
                                    <label class="status-toggle">
                                        <input type="checkbox" onchange="toggleStatus(this, @item.id)" @(item.statusfilling ? "checked" : "")>
                                        <span class="slider">
                                            <span class="text">@((item.statusfilling) ? "ON" : "OFF")</span>
                                            <span class="circle"></span>
                                        </span>
                                    </label>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="3">Data Not Available</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

@section Scripts {
<script>
$(document).ready(function () {
  var table = $('#myTable').DataTable({
    lengthChange: false,
    pageLength: 50,
    searching: false
  });

$('#customLength').on('change', function () {
  var val = parseInt($(this).val());
  table.page.len(val).draw();
});
});
    function deleteData(id, fillingbay) {
        if (confirm("Are you sure delete " + fillingbay + "?")) {

            fetch('/FillingPoints/Delete/' + id, { method: 'POST' })
                .then(res => res.json())
                .then(res => {
                    if (res.success) {

                        // Hapus row dari DataTables
                        const table = $('#myTable').DataTable();
                        const row = $(`button[onclick="deleteData(${id}, '${fillingbay}')"]`).closest('tr');
                        table.row(row).remove().draw();

                        // Update angka dashboard
                        refreshDashboard();

                        alert("Data " +fillingbay+ " Deleted!");
                    }
                })
                .catch(err => console.log("DELETE ERROR:", err));
        }
    }

    function openEditModal(id, fillingbay) {
        document.getElementById("editId").value = id;
        document.getElementById("editFillingBay").value = fillingbay;
        var modal = new bootstrap.Modal(document.getElementById('editModal'));
        modal.show();
    }

    function toggleStatus(checkbox, id) {
        const status = checkbox.checked;
        const label = checkbox.nextElementSibling.querySelector('.text');
        label.textContent = status ? "ON" : "OFF";

        fetch('/FillingPoints/UpdateStatus', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ id: id, statusfilling: status })
        }).then(() => refreshDashboard());
    }

    function refreshDashboard() {
        $.ajax({
            url: '/FillingPoints/GetDashboardCounts',
            method: 'GET',
            success: function (data) {
                console.log("DATA:", data);
                $('#totalPoint').text(data.totalPoint);
                $('#statusOn').text(data.statusOn);
                $('#statusOff').text(data.statusOff);
            },
            error: function (xhr) {
                console.log("AJAX ERROR:", xhr.responseText);
            }
        });
    }
    $(function () {
        refreshDashboard();
    });
</script>
}

@* Modal Add Data *@
<div class="modal fade" id="inputModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Input Data Filling Bay</h5>
            </div>

            <form asp-action="Create" method="post">
                <div class="modal-body">

                    <div class="mb-3">
                        <label class="form-label">Filling Bay</label>
                        <input type="text" name="fillingbay" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select name="statusfilling" class="form-control">
                            <option value="true">ON</option>
                            <option value="false">OFF</option>
                        </select>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

@* modalUpdate *@
<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Edit Data</h5>
            </div>

             <form asp-action="Edit" method="post">
                <div class="modal-body">

                    <input type="hidden" id="editId" name="id">

                    <div class="form-group mb-3">
                        <label>Filling Bay</label>
                        <input id="editFillingBay" name="fillingbay" class="form-control">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>

@* CSS-Status-Toggle *@
<style>
.status-toggle {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 36px;
}

.status-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: red;
    border-radius: 34px;
    transition: .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    font-weight: bold;
    color: white;
}

.circle {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    transition: .1s ease-in-out;
    position: absolute;
    top: 4px;
    left: 4px;
}

.status-toggle input:checked + .slider {
    background-color: green;
    justify-content: flex-start;
}

.status-toggle input:checked + .slider .circle {
    transform: translateX(54px);
}

.text {
    z-index: 2;
    font-size: 14px;
    position: relative;
}

</style>

